<%- include('../partials/header'); %>
    <a href="/messages/new">
        <button>投稿する</button>
    </a>
    <ul>
        <% messages.map((message) => { %>
            <li>
                <p><%= message.content %></p>
                <ul>
                    <% message.replies.map((reply) => { %>
                        <li><%= reply.content %></li>
                    <% }) %>
                </ul>
                <a href="/messages/<%= message.id %>">詳細</a>
                <a href="/messages/<%= message.id %>/edit">編集</a>
                <form action="/messages/like" method="post">
                    <input type="hidden" name="messageId" value="<%= message.id %>">
                    <input type="submit" value="いいね">
                </form>
                <form action="/messages/<%= message.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="削除">
                </form>
                <p>投稿者: <a href="/users/<%= message.user.id %>"><%= message.user.name %></a></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>