<%- include('../partials/header'); %>
    <h1><%= user.name %></h1>

    <h2>投稿</h2>
    <ul>
        <% user.messages.map((message) => { %>
            <li><a href="/messages/<%= message.id %>"><%= message.content %></a></li>
        <% }) %>
    </ul>

    <a href="/users/<%= user.id %>/likes">このユーザーのいいね一覧へ</a>
</body>
</html>